* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 9996;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo h1 {
  font-size: 28px;
}
.logo{
  width: auto;
  display:flex;
  justify-content: center;

}

.red { color: red; }
.blue { color: blue; }

.cart {
  font-size: 24px;
  cursor: pointer;
  border:none;
  background-color: transparent;
}

.nav-li{
    position:relative;
    cursor:pointer;
    color:black;

}

.nav-li::after{
    content:"";
    position:absolute;
    bottom: -36px;
    left:0vh;
    transition: width 0.3s ease;
    width:0;
    height: 3px;
    background-color:black;
}

.nav-li:hover::after{
    width:100%;
}


.menu-btn {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 1100;
}

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav {
    position: fixed;
    top: 80px; 
    left: 0px;
    width: 50%;
    height:100%;
    background: white;
    transform: translateX(-100%);
    transition: transform 1s ease;
    padding: 20px 0;
    z-index: 1300;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav ul {
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    gap: 30px;
  }

  .nav-li::after {
    bottom: -8px;
  }
}


.shopping-menu{
  position:fixed;
  height:89%;
  width:400px;
  background-color: #e0e0e0;
  z-index:9998;
  display: block;
  right:0px; 
  top:80px;
  transform:translateX(100%);  
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 1s ease;
  }
.shopping-menu-btn{
    border-radius: 5px;
    height:40px;
    width:120px;
    border:none;
    color:white;
    background-color: black;
    position:relative;
    left:140px;
    display: none;
  }

.items-photo{
    height:130px;
    width:120px;
    margin:20px;
  }
.item-quantity{
    display:inline-flex;
    justify-content: space-around;
    gap:0;
    width:auto;
    height:auto;
    border:solid 1px black;
    padding: 3px;
    
  }
  .quantity-manipulators{
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:25px;
    font-size: 25px;

    
  }

.number{
    width:20px
  }

.item-in-cart{
    display:flex;
    position:relative
    

  }
.cart-title{
    margin-top: 5.9px;
    margin-left: 100px;
  }

.item-information{
    margin-top:20px;
  }
.trash-icon{
    color:black;
    cursor:pointer;
    position:absolute;
    right:80px;
    font-size:12px;
    bottom:35px;
    background-color: transparent;
  }
  
.trash-icon::after{
    content:"";
    position:absolute;
    width:0%;
    height:1px;
    background-color:black;
    transition:width 0.3s ease;
    left:0px;
    bottom:3px;
  }

.trash-icon:hover::after{
    width:100%;
  }
.trash-icon button{
  border:none;
  background-color: transparent;
}



.shopping-menu.cart-active{
  transform: translateX(0%);
}

#item-in-cart-bloodpressuremachine{
  display:none;
}

#item-in-cart-surgicalmask{
  display:none;
}

#item-in-cart-comodewheelchair{
  display:none;
}

#item-in-cart-oxygenmachine{
  display: none;
}

#linear-gradient-div{
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  background:linear-gradient(
       rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
  );
  z-index:5000;
  display:none;
}

#linear-gradient-div.cart-active1{
   display:block;
}














#preloader {
  background:rgb(245, 245, 245) url("The-Best-50-Website-Preloaders-Around-the-Web-Example-26.gif")
              no-repeat center center;
  background-size: 50%;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;}


/*Main section*/

.main {
  padding-top: 100px; /* space for fixed header */
  background: #e0e0e0;
  height: auto;
  width:100vw;

}





/*cards section*/


.cards{
  display:inline-block;
  border-radius: 20px;
  height:50vh;
  width:20vw;
  background-color: rgb(225, 226, 226);
  margin:5vw;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0vh);
}

.cards:hover{
  transform:translateY(-5vh);
  cursor: pointer;
}

.img1{

  width:20vw;
  height:30vh;
  border-radius: 10px 10px 0px 0px;

}

.items-description{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:auto;
  width:auto;
  margin:2vw;

}

.item-name{
  font-size: 1.2vw;
  font-family: 'Inter', system-ui, sans-serif;
}


.item-price{
  color:rgb(160, 159, 159);
}


#items-container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.plus-button {
  opacity: 0;
  transform: rotateZ(0deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: -5vh;
  margin-left:18vw; 
  font-size: 1.8vw;
}

.cards:hover .plus-button {
  opacity: 1;
  transform:rotateZ(90deg);}



@media (max-width:1100px){
  #items-container{
   display:grid;
   grid-template-columns: 1fr;
  }
  .cards {
    display:inline-block;
    border-radius: 20px;
    height:400px;
    width:300px;
    background-color: rgb(225, 226, 226);
    margin:5vw;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0vh);
   }
  .img1{
  width: 300px;;
  height:250px;
  border-radius: 10px 10px 0px 0px;
  }

  .item-name{
   font-size: 20px;
   font-family: 'Inter', system-ui, sans-serif;
  }

  #items-container{
   display:flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
  }
  .plus-button {
  opacity: 0;
  transform: rotateZ(0deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: -20px;
  margin-left:250px; 
  font-size: 30px;
  }
  .cards:hover .plus-button {
  opacity: 1;
  transform:rotateZ(90deg);}
}






/*Footer section*/

#footer{
    background-color: white;
    width:100vw;
    height: auto;
}

.footer-content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh;


}

#footer-bottom1{
  
    text-align:center;
}

.footer-section{
    width:20vw;
}

#products-number{
  text-align:center;
  width:100vw;
  color:rgb(160, 159, 159);

}

@media (max-width:800px){
   .footer-content{
    display: flex;
    justify-content:space-around;
    gap:50px;
    flex-wrap:wrap;
    margin-left: 10px;
   }
   .footer-section{
    width:300px;
    }
}